<!--<div class ="container">
    <div class = "card">
        <h3 class= "text-center">Orders List</h3>
        <div class = "card-body">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>name</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let order of orders">
                        <td>{{order.id}}</td>
                        <td>{{order.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="row">
      <div class="col-md-2">
        <label>Order Name</label>
      </div>
      <div class="col-md-10">
        <input type="text" class="form-control" [(ngModel)]="order.name" />
      </div>
    </div>
    <br>
    <div class="text-right">
      <button class="btn btn-primary" (click)="add_order()">Add Order</button>
    </div>
</div>